:root
{
    --color0: #1a1a1a;
    --color1: #303030;
    --color2: #232323;
    --color3: #404040;
    --color4: #bababa;
    --color-elem-green: #305030;
    --color-header-blue: #23375c;
    --color-text-sm: #6f6f6f;
}
