#search
{
    display: flex;
    align-items: center;
}

#search button
{
    all: unset;
    margin-left: 0.5rem;
}

#search button img
{
    height: 1rem;
}

audio
{
    width: 100%;
    margin: 2rem 0;
}

#results
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.result-outer
{
    display: flex;
    margin: 0.5rem;
    width: calc(20% - 1rem);
}

.result
{
    background-color: var(--color2);
    border: 1px var(--color3) solid;
    width: 100%;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    transition-duration: 0.2s;
}

.result.selected
{
    background-color: var(--color-elem-green);
    transform: translateY(-0.5rem);
    filter: drop-shadow(0 0.5rem 4px #00000080);
}

.result.selected.paused
{
    background-color: var(--color2);
}

.result img
{
    border-radius: 1rem;
}

.result div
{
    margin-bottom: 0.35rem;
}

.result div:last-child
{
    margin-bottom: 0;
}

@media(max-width: calc(60rem / 0.72))
{
    .result-outer
    {
        width: calc(25% - 1rem);
    }
}

@media(max-width: calc(48rem / 0.72))
{
    .result-outer
    {
        width: calc(100% / 3 - 1rem);
    }
}

@media(max-width: calc(36rem / 0.72))
{
    body
    {
        width: 100%;
    }
}

@media(max-width: calc(36rem / 0.9))
{
    .result-outer
    {
        width: calc(50% - 1rem);
    }
}

@media(max-width: calc(24rem / 0.9))
{
    .result-outer
    {
        width: 100%;
    }
}
