#search
{
    display: flex;
    align-items: center;
}

#search button
{
    all: unset;
    margin-left: 0.5rem;
}

#search button img
{
    height: 1rem;
}

audio
{
    width: 100%;
    margin: 2rem 0;
}

#results
{
    display: flex;
    flex-wrap: wrap;
}

.result
{
    text-align: center;
    width: 20%;
}

.result img
{
    border-radius: 1rem;
}
